<div id="movieCard" class="card" style="width: 18rem;">
     <img src="{{Poster}}" class="card-img-top" alt="movie-poster{{Title}} ">
     <div class="card-body">
          <div class="m-b-20px">
          <h5 class="card-title">{{Title}}</h5>
          </div>
          <p class="card-text">{{Year}}</p>
     </div>
     <div class="movieCard-btn-continer-fix">
          <a href="#" class="btn btn-primary" id="favBtn-{{imdbID}}">Like</a>
     </div>
</div>